###> Environment ###
FLASK_ENV=
###< Environment ###

###> POSTGRESQL ###
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
###< POSTGRESQL ###

###> Link to Database ###
DATABASE_URL=postgres://user:password@host:port/database
###< Link to Database ###